
/* dashboard container  */

a:hover { text-decoration: none !important; }
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}
.db_logo { width: 15%;}

.db_logo a { display: block; width: 100%; max-width: 65px;;}

.db_logo a img { display: block; width: 100%;}


.db_tittle2 { width: 40%;}

.db_tittle2 h3 { color: #333; font-size: 22px;;}
.db_tittle2 h3 a { color: #333;  ;}
.selectPage {color: #f0812c;}

.db_tittle2 h3 a:hover {color: #f0812c;}


.profile_menu { width: 45%; text-align: right;  ;}

.profile_menu .customSelect { max-width: 170px; display: inline-block;}

.profile_menu .customSelect select { font-family: 'robotobold'; border: none;}

.db_container { width: 100%;}


.db_nav { width: 300px; height: 100%; position: fixed; left: 0px; top: 0px; background: #fff; box-shadow: 0px 3px 6px 0px rgba(133, 133, 133, 0.12); }

.db_nav_inner { width: 100%; padding: 72px 0px 80px; height: 100%;}


.db_nav_menu { width: 100%; padding-top: 25px; overflow-y: auto;
    height: 100%;}

.db_nav_menu ul li { position: relative;}


.db_nav_menu ul li a{ padding: 10px 20px 10px 20px; position: relative; display: block;  ; color: #000000; font-size: 14px; position: relative;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;}

.db_nav_menu ul li a b { display: inline-block; font-size: 20px; margin-right: 10px; color: #f98a29;}

.db_nav_menu ul li a i {  vertical-align: middle;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;}

.db_nav_menu  ul li a em { position: absolute; right: 20px; top: 14px; }


.has_dp i { display: inline-block !important; }

.db_nav_menu ul li a:hover { background: #f98a29; color: #fff;}
.db_nav_menu ul li a:hover b { color: #fff;}


.db_nav_menu ul li ul{ background:#f1f1f1 !important; display: none;}
.db_nav_menu ul li ul li a { padding: 12px 20px 12px 48px; background-color: transparent !important; background:no-repeat !important; color:  #595959; font-size: 14px;;}

.db_nav_menu ul li ul li a:hover { color: #fff !important; background: #000 !important; text-decoration: none !important;}

.active_nav > a { background: #f37609  !important; color: #fff !important;}
.active_nav > a b{ background: #f98a29 !important; color: #fff !important;}

.active_nav > a.ltl_icon{   background-size: 35px !important; }
.active_nav > a i {   transform: rotate(180deg);}


.dropdownMenu { display: inline-block;;}

.dropdownMenu ul li { position: relative;}

.dropdownMenu ul li a { padding-right: 30px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;  text-transform: capitalize; font-size: 16px; display: block; text-align: left; color: #000; background: url(../images/dropdown_icon.png) 94% center no-repeat #fff; background-size: 11px; }

.dropdownMenu ul li ul { background: #fff; display: none;
    box-shadow: 0px 1px 5px 0px rgba(133, 133, 133, 0.12);
    position: absolute;
    left: 0px;
    top: 20px;
    white-space: nowrap;
    width: 100%; padding: 6px 0px;}

.dropdownMenu ul li ul li a { padding: 6px 15px; font-size: 14px; font-weight: normal;    background: none;}

.dropdownMenu ul li ul li a:hover { background: lightgrey;}

.dropdownMenu ul li:hover ul{ display: block;}



.db_containerDetail {  width: calc(100% - 300px);  margin-left: 300px;;}

.db_containerDetail_inner { width: 100%; padding: 120px 50px 120px 50px;}

.d_board_detail { background-color: rgb(255, 255, 255); box-shadow: 0px 3px 6px 0px rgba(133, 133, 133, 0.12); width: 100%;padding: 65px 50px 50px; min-height: 700px;  }

.dashboardHeader .auto_container {max-width: 100%;}
.dashboardHeader_data {width: 100%;display: flex;align-items: center;}

.db_body { background: #eaeff3;}
.db_footer .footerDown { background: #fff;}


.dashboardHeader { width: 100%; position: fixed; left: 0px; top: 0px; background: #fff; border-bottom: 1px solid #d6dbde; z-index: 21;}

.dashboardHeader .auto_container { max-width: 100%;}

.dashboardHeader_detail { width: 100%; padding: 10px 0px 10px;}


.fixedFooter { position: fixed; left: 0px; bottom: 0px; z-index: 10;}
.fixedFooter  .auto_container { max-width: 100%; padding-left: 325px;}


.footer { width: 100%; background: #fff;}

.footerDown { width: 100%; background: #ededed;}

.footerDown_detail { width: 100%; padding: 20px 0px ; display: flex; align-items: center;}

.copyRight2 { width: 100%;;}

.copyRight2 strong { font-size: 14px; color: #000; display: block; text-align: center;}


.db_body {
    background: #eaeff3;
}

.sett_profile_db { display: flex; align-items: center;justify-content: flex-end;}

.sett_profile_db { position: relative;}
.sett_profile_db span { display: block; width: 40px; height: 40px; border-radius: 50%; margin-right: 20px; position: relative; cursor: pointer;}
.sett_profile_db span img { display: block; width: 40px; height: 40px; border-radius: 50%; object-fit: cover;}

.sett_profile_db .my_file { height: 100%; opacity: 0;}

.sett_profile_db .my_file input { width: 100%;cursor: pointer;}

.d_board_detail .custom_tittle_section  p { max-width: 100%;}
.d_board_detail .custom_tittle_section  h3 { padding-bottom: 10px;}

.db_footer .copyRight2 strong a { color: #f0812c;}

.db_footer {box-shadow: 0px 0px 5px 0px rgb(133 133 133 / 12%);
}

.logout { position: absolute !important; left: 0px; bottom: 64px; width: 100%;box-shadow: 0px 0px 5px 0px rgb(133 133 133 / 12%); }


.custom_field_input  input[disabled] { background: #ccc; cursor: not-allowed;}












