@charset "utf-8";

/* CSS Document */
 

@media only screen and (min-width:1280px) and (max-width:1365px) {

    .banner_info_detail label { 
        font-size: 16px; 
        padding-bottom: 5px;
    }
    .aboutSlide .banner_info_detail h1 {
        max-width: 600px;
    }
    .sett_home_banner .banner_info_detail h1 { 
        font-size: 28px; 
    }
    .banner_info_detail p {
        font-size: 14px;
        padding-bottom: 20px; 
    }
    .banner_info_detail .default_bttn {
        max-width: 160px; 
        padding: 12px 20px;
        font-size: 14px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {


    .logo {
        width: 120px;
    }

    .profile_info span b img {
        width: 42px;
        height: 42px;}

.profile_info span b {
    width: 42px;} 

    .dbheader_sett .menu_nav {
        padding-left: 8%;
    }
    .dbheader_sett .menu_nav ul li a {
        font-size: 12px;
    }

    .profile_info { 
        margin-left: 20px;}



    .update_newsLetter_heading {
        width: 50%; padding-right: 25px;
    }
    .update_newsLetter_field {
        width: 50%;
    }
    .update_newsLetter_field .mainSearch {    margin: 0px;
        min-width: 100%;}

        .dashboard_info { 
            display: block;
        }
        
        .db_profile {
            width: 100%; padding-bottom: 25px;
        }
        
        .db_profile .featureWeek_info { width: 100%; display: flex;}
        
        .db_profile .feartureProflie_info {
            width: 20%;}
        
        .db_profile .featureProfile_avatar_inner { padding-left: 30px;
            width: 80%;}
        .db_profile .feartureProflie_info { padding-bottom: 0px;}
        
        .db_profile .featureProfile_avatar_text strong { 
            padding: 0px;
        }
        
        .db_profile .featureProfile_avatar_text {
            padding-left: 0px;
            padding-bottom: 0px;
        }
        .db_profile .profile_rating_info {
            padding-bottom: 10px;
        }
        .achieved_task_info ul li {
            padding-bottom: 10px;
        }
        .editBttn { 
            top: -10px;
        }
        .activeBttn a { 
            padding: 8px 15px;}
        
            .data_profile_infoText h4 { font-size: 18px;}
        
        .dashboard_infoDetail { 
            padding-left: 0px; width: 100%;
        }



.menu_nav { 
    padding-left: 8%;
}
.menu_nav ul li {
    padding-right: 20px;
}

.banner_img img {
    width: 100%;
    display: block;
    height: 325px;
    object-fit: cover;object-position: 10%;
}
 
.mainSearch { 
    bottom: 70px;}

.tabBanner .banner_img img { 
        height: 225px;}

.searchTalented .banner_info_detail h1 {
    padding: 0px 0px 0px;
}

.orderSteps_section .featureWeek_info { 
    display: block;  
}

.orderSteps_section .feartureProflie_info {width: 100%; padding-bottom: 25px;}

.orderSteps_section .featureProfile_avatar_inner {
    padding-left: 0px;
    width: 100%;
}
.profilr_social { 
    max-width: 100%;}

.order_bookSection { 
    padding-left: 30px;
}
.profileDiscription {
    max-width: 100%;}

.sett_home_banner .banner_info_detail h1 {  text-align: left;
    font-size: 30px;}
.sett_home_banner .banner_info_detail p {
    color: #ccc;
}


.our_todo_info a { min-width: 160px;
    font-size: 14px;
    text-align: center;
    padding: 12px 20px;
    margin-left: 20px;}
    .our_todo_info p {
        padding-left: 20px;}




        .whyChoose_columns_info { 
            padding: 25px 20px;
            border-radius: 15px;}

.whyChoose_columns_info h4 {
    padding-bottom: 14px;
    font-size: 16px;
}
.whyChoose_columns_info p {
    font-size: 14px;
    line-height: 1.4;
}














}

@media only screen and (min-width:768px) and (max-width:1023px) {


    h1 { font-size: 30px; }
    h2 { font-size: 24px;  }
    h3 { font-size: 22px; }
    h4 { font-size: 20px; }
    h5 { font-size: 20px; }
    
    p { color: #363848; font-size: 16px; line-height: 1.6;}


    .header{ display: block;}

    .menu_nav { display: none;
        width: 100%;
        padding-left: 0px;
        position: fixed; 
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: 5;
        background: #000;
        padding: 80px 20px 50px;
    }
    .menu_nav ul { display: block;}
    
    .menu_nav ul li {
        padding-right: 0px;
        padding-bottom: 25px;
    }
    .menu_nav ul li a { 
        display: inline-block; 
    }
    
    .menu_nav ul li a::after { 
        bottom: -5px;}
    
    
    
     
    .menuIcon {
        width: 30px;
        height: 20px;
        right: 20px;
        top: 29px;
        border-bottom: 2px solid #F2EADC;
        border-top: 2px solid #F2EADC;
        z-index: 2;transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        -webkit-transition: all .2s ease;
    }
    .menuIcon:after {
        width: 80%;
        height: 2px;
        background: #F2EADC;
        content: "";
        display: block;
        right: 0;
        top: 7px
    }
    .menuIcon,
    .menuIcon:after {
        position: absolute;
        transition: all .4s ease
    }
    .menuIcon,
    .menu_clos {
        display: block;
        cursor: pointer
    }
    .menuIcon:hover:after {
        right: 20%
    }
    .closeNav {
        display: block;
        background: url(../images/closeNav.png) no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        color: #fff;
        right: 20px;
        top: 30px;
        background-size: 100%
    }   

    .headerInfo_inner { 
        justify-content: flex-end;
        padding-right: 70px;
    }




    

.nav_authantication_bttns ul li {
    padding-left: 10px;
}    

.nav_authantication_bttns ul li a {
    border-radius: 20px;
    padding: 12px 10px; min-width: 100%;
    font-size: 12px;}

.nav_authantication_bttns {
    width: auto;}

 
.main_container { 
    padding-top: 72px;
}
.banner_slider .banner_info_detail h1 {
    padding: 0px 0px 10px;max-width: 450px;
    font-size: 26px;}
.sett_home_banner .banner_info_detail p {
    max-width: 425px; 
    font-size: 18px; color: #ccc;
}

.mainSearch_input {
    width: 73%;
}
.mainSearch_bttn {
    width: 27%;
}
.mainSearch { max-width: 600px; margin-left: -300px;    bottom: 70px;}


.features_this_week_list .owl-nav .owl-prev { 
    width: 42px !important;
    height: 42px !important; 
    font-size: 27px !important; 
    left: -12px !important; 
    margin-top: -23px !important;
}
.features_this_week_list .owl-nav .owl-next { 
    width: 42px !important;
    height: 42px !important; 
    font-size: 27px !important; 
    right: -12px !important; 
    margin-top: -23px !important;
}

.main_container_innerDetail { 
    padding: 60px 0px 60px;
}

.available_feature_sorted { 
    flex-flow: column;
}

.available_feature_sorted h3 { padding-bottom: 10px;}

.available_feature_list ul li {padding: 0px 10px 20px;
    width: 50%;}

.available_feature_list ul { 
    margin: 0px -10px;
}

.available_feature_section { 
    padding-bottom: 30px;
}
.how_work_tittle { 
    padding-bottom: 30px;
}

.how_work_steps { 
    padding-right: 0px;
}
.toggleAerow { 
    right: 25px;
    top: 36px;}

.how_work_info { 
    padding-right: 10px;
}
.how_work_section { 
    padding-bottom: 40px;
}
.whyChoose_columns ul li {
    padding: 15px 10px; width: 50%;
}
.whyChoose_columns ul { 
    margin: 0px -10px;    flex-wrap: wrap;
}
.whyChoose_columns_info { 
    padding: 25px 25px;
    border-radius: 15px;}

.testimonial_section_detail { 
    padding: 60px 0px;
}

.testimonial_section_detail .custom_tittle_section {
    padding-bottom: 20px;
}
.testimonial_avatar {
    width: 200px;
}
.testimonial_avatar span {
    width: 200px; 
}

.testimonial_avatar i { 
    left: 10px;
    top: -10px;
    font-size: 48px; 
}

.latestNews_section_detail {
    width: 100%;
    padding: 60px 0px 60px;
}

.custom_tittle_section h2 {
    padding-bottom: 15px;
}
.latestNews_section_detail .custom_tittle_section {
    padding-bottom: 40px; 
}
.latestNews_info .owl-dots { 
    top: -40px;}
 
.latestNews_columns_info { 
    padding: 20px 15px;}

.technology_column { 
    margin-left: 20px;
}

.update_newsLetter_heading {
    width: 50%; padding-right: 25px;
}
.update_newsLetter_field {
    width: 50%;
}
.update_newsLetter_field .mainSearch {    margin: 0px; 
    min-width: 100%;}
.update_newsLetter_detail { 
    padding: 50px 0px;}

.footer_up_column {
    width: 25% !important;
}
.footer_info { 
    padding-right: 35px;
}
.footer_up_detail {  
    padding: 50px 0px 40px; 
}

.showList .feartureProflie_info {
    width: 28%;justify-content: flex-start !important;
}

.showList .featureProfile_avatar {
    width: 140px !important;
}
.showList .featureProfile_avatar span {
    width: 140px !important;
}

.banner_info_detail h1 { 
    padding: 0px;
}
.stepText {
    width: auto;
}
.stepText_detail {
    padding-left: 15px;
    width: 100%;
}
.about_whyChoose_columns .whyChoose_columns ul li {
     padding: 15px 10px; 
}

.containerDetail_info {
    padding: 60px 0px 40px;
}

.data_profile_info span {  
    max-width: 60px;
}
.profile_info { 
    margin-left: 20px;}


.our_todo_info { 
    padding: 18px 50px;}



.our_todo_section { 
    padding-bottom: 20px;
}

.dashboard_info { 
    display: block;
}

.db_profile {
    width: 100%; padding-bottom: 25px;
}

.db_profile .featureWeek_info { width: 100%; display: flex;}

.feartureProflie_info {
    width: 30%;}

.featureProfile_avatar_inner { padding-left: 30px;
    width: 70%;}
.db_profile .feartureProflie_info { padding-bottom: 0px;}

.db_profile .featureProfile_avatar_text strong { 
    padding: 0px;
}

.db_profile .featureProfile_avatar_text {
    padding-left: 0px;
    padding-bottom: 0px;
}
.db_profile .profile_rating_info {
    padding-bottom: 10px;
}
.achieved_task_info ul li {
    padding-bottom: 10px;
}
.editBttn { 
    top: -10px;
}
.activeBttn a { 
    padding: 8px 15px;}

    .data_profile_infoText h4 { font-size: 18px;}

.dashboard_infoDetail { 
    padding-left: 0px; width: 100%;
}




.logo {
    width: 195px;
}

.banner_slider .banner_img {
    max-height: 100%; 
}

.banner_img img {
    width: 100%;
    display: block;
    height: 325px;
    object-fit: cover;object-position: 10%;
}
 
.featureWeek_info {
    border: 1px solid rgba(61, 105, 231, .4);
    background: #fff;
    padding: 20px 15px;
    }

.icon_list_grid { 
    margin-left: 10px;
}
.sorted_nav .mainSearch_bttn {
    padding-left: 10px; 
}
.sorted_dropdown { 
    margin-left: 10px;
}
.sorted_nav .mainSearch_bttn input { 
    padding: 15px 25px; 
    font-size: 16px;
}

.dropdown_sort {
    min-width: 150px !important;
}

.onHomePge .available_feature_list ul li .feartureProflie_info { margin: auto;}
.onHomePge .featureProfile_avatar_inner { margin: auto; width: 100%; padding-left: 0px;}


.orderSteps_section .db_profile .featureWeek_info { display: block;}

.orderSteps_section .feartureProflie_info { display: block; width: 100%; padding-bottom: 20px;}

.orderSteps_section .featureProfile_avatar_inner {
    padding-left: 0px;
    width: 100%;
}
.orderSteps_section .db_profile .featureWeek_info { 
    padding: 25px 20px 15px 20px;
}
.profilr_social { 
    max-width: 100%; 
}
.order_bookSection {  
    padding-left: 25px;
}

.order_tabs_infoHead { 
    padding: 30px 25px 15px 25px;}


    .tabBanner .banner_img img { 
        height: 225px;}

.searchTalented .banner_info_detail h1 {
    padding: 0px 0px 0px;
}

.showList .featureProfile_avatar_inner { padding-left: 25px;}
 
.available_feature_list ul li .featureWeek_info {
    padding: 25px 25px 25px 25px;
}   

.showList .featureWeek_info { align-items: flex-start;}


.profileBttns .fvrtBtn i { display: none;}

element.style {
}
.profileBttns .fvrtBtn {
    background: none;
    border: 1px solid #3d69e7;
    color: #3d69e7;
}
.profileBttns a { 
    min-width: 100px;
    margin: 0px 1px;
    padding: 12px 15px;
    font-size: 11px;
}

.notiication_info { display: none;}



.talend_dashboard .profile_info {
    margin-left: 15px;
}  
.talend_dashboard .menu_nav {
    padding-left: 50px;
}
.talend_dashboard .menu_nav ul li a {
    color: #fff;
    font-size: 12px}

.talend_dashboard .menu_nav ul li {
    padding-right: 20px;
}

.bookingDetail_fl_info { 
    padding: 35px 25px 0px;
}

.booking_description { 
    padding-bottom: 40px;
}

.booking_description h4 { 
    font-size: 18px;    padding-bottom: 10px;
}
.booking_description strong { 
    padding-bottom: 10px;
    font-size: 18px;
}

.slots_info h4 { 
    font-size: 18px;
}
.slots_info strong { 
    font-size: 16px;}
.slots_info small { 
    font-size: 16px;}
.slots_info ul li { 
    padding-bottom: 10px; 
}
.slots_info { 
    padding-bottom: 20px;
}

.bookingDetail_section_fr .featureWeek_info { display: block;}

.bookingDetail_section_fr .feartureProflie_info { width: 100%; padding: 0px; padding-bottom: 20px;}

.bookingDetail_section_fr .featureProfile_avatar { padding: 0px;}

.bookingDetail_section_fr .featureProfile_avatar_text { width: 100%;}

.bookingDetail_section_fr .featureProfile_avatar_text strong {
    font-size: 16px;
}
.bookingDetail_section_fr .featureProfile_avatar_inner {
    padding-left: 0px;
    width: 100%;
}
.bookingDetail_section_fr .featureWeek_info {
    border: 1px solid #e7e7e7;
    padding: 25px 15px 20px 15px;
}
.bookingDetail_section_fr .achieved_task_info_list span {
    font-size: 13px; 
    text-align: left;
}
.bookingDetail_section_fr .achieved_task_info_list strong {
    font-size: 12px;
    color: #000000;
    font-family: 'poppinsbold';
    padding-right: 0px;
}
.bookingDetail_section_fr .profile_rating_info {
    padding-bottom: 20px;
}

.bookingDetail_section_fl {
    width: 65%;
    padding-right: 20px;
}
.bookingDetail_section_fr {
    width: 35%;
}
.editPopup .popup_form ul {
    margin: 0px -10px;}
.editPopup .popup_form ul li {
    padding: 0px 10px 25px; 
}
.update_profile_data { 
    padding: 50px 25px 40px;}
.update_profile_tabs ul li a { 
    font-size: 13px;}

.menu_nav ul li a { 
    font-size: 13px;}

.profile_rating_info ul li {
    padding: 0px 3px 0px 0px!important; 
}
.aboutSlide .banner_info_detail h1 {
    max-width: 490px;
}

.sett_home_banner .banner_info_detail h1 { 
    font-size: 24px; text-align: left;
}


.search_inner { 
    padding-top: 180px;}

.blackOut .popupAlignCenter { 
    align-items: flex-start; 
    padding-top: 100px;
}

.blackOut .popupAlignCenter .popUpWrapper {
    width: 70%;
    max-width: 500px;  
}


#updateTab_2 .custom_popup_info { padding-left: 0px; padding-right: 0px;}

.chooseOptionDetail label { 
    font-size: 12px;}


.steps_bttons a { 
    max-width: 160px;
    padding: 12px 20px;
}

.steps_bttons input {   padding: 12px 20px;
}


.our_todo_info a { min-width: 160px;
    font-size: 14px;
    text-align: center;
    padding: 12px 20px;
    margin-left: 20px;}
    .our_todo_info p {
        padding-left: 20px;}


.dbheader_sett .menu_nav {
    padding-left: 30px;
}
.dbheader_sett .menu_nav ul li {
    padding-right: 10px;
}

/* .profile_info span b {
    width: 30px; 
    margin-right: 8px;
}
.profile_info span b img {
    width: 30px;
    height: 30px;} */



.db_nav { width: 230px;}

.db_nav_menu ul li a {
    padding: 8px 15px;}

.db_nav_menu ul li a b { 
    font-size: 18px;}

.db_containerDetail {
    width: calc(100% - 230px);
    margin-left: 230px;
}

.db_containerDetail_inner {
    width: 100%;
    padding: 100px 30px 50px 30px;
}
.db_welcomeSection .custom_tittle_section { padding-bottom: 10px;}


.db_logo {
    min-width: 230px;
}

.fixedFooter .auto_container { 
    padding-left: 230px;
}















}

@media only screen and (max-width:767px) {

h1 { font-size: 30px; }
h2 { font-size: 24px;  }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 20px; }

p { color: #363848; font-size: 16px; line-height: 1.6;}






.header{ display: block;}

.menu_nav { display: none;
    width: 100%;
    padding-left: 0px;
    position: fixed; 
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 5;
    background: #000;
    padding: 80px 20px 50px;
}
.menu_nav ul { display: block;}

.menu_nav ul li {
    padding-right: 0px;
    padding-bottom: 25px;
}
.menu_nav ul li a { 
    display: inline-block; 
}

.menu_nav ul li a::after { 
    bottom: -5px;}



 
.menuIcon {
	width: 30px;
	height: 20px;
	right: 20px;
	top: 29px;
	border-bottom: 2px solid #F2EADC;
	border-top: 2px solid #F2EADC;
	z-index: 2;transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-webkit-transition: all .2s ease;
}
.menuIcon:after {
	width: 80%;
	height: 2px;
	background: #F2EADC;
	content: "";
	display: block;
	right: 0;
	top: 7px
}
.menuIcon,
.menuIcon:after {
	position: absolute;
	transition: all .4s ease
}
.menuIcon,
.menu_clos {
	display: block;
	cursor: pointer
}
.menuIcon:hover:after {
	right: 20%
}
.closeNav {
    display: block;
    background: url(../images/closeNav.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    color: #fff;
    right: 20px;
    top: 30px;
    background-size: 100%
}   


.header_detail_inner { 
    /* align-items: flex-start;  */ justify-content: unset;
}
.headerInfo_inner {
    width: auto; 
    /* align-items: flex-start;  */
}

.nav_authantication_bttns { padding-top: 3px;
    width: auto;}
.nav_authantication_bttns ul li {
    padding-left: 10px;
}
.nav_authantication_bttns ul li a {
    color: #fff;
    border-radius: 0;
    padding: 0;
    font-size: 12px;    border: none !important;
    background: none !important;
    min-width: auto;}

    
    .nav_authantication_bttns ul li a:hover { text-decoration: underline;}

    .main_container {
        padding-top: 77px;
    }

.profile_info {
    width: auto;
    margin-left: 10px;
    position: relative;
    margin-right: 55px;
}
.notiication_info a i { 
    font-size: 20px;
}
.notiication_info a b { 
    padding: 2px 4px 0px 4px; 
    right: -7px;
    top: -3px;
}

.profile_info span b img {
    width: 36px;
    height: 36px;}
.profile_info span small { 
    margin-right: 8px;
    font-size: 12px;
}

.logo {
    width: auto;margin-right: 5%;
}






.banner_info { 
    position: static; 
    background: #000;
    padding: 25px 20px 60px;text-align: center;
}
.banner_slider .banner_info_detail h1 {
    padding: 0px 0px 10px;text-align: center;
    font-size: 20px; 
    line-height: 1.5;
}
.banner_info_detail p {color: #ccc;
    font-size: 16px;}

.banner_info_detail label { 
    font-size: 16px;}

.mainSearch { 
    max-width: 88%; 
    margin-left: -44%; 
    bottom: auto;
    top: 10%;  
}
.search_inner .mainSearch { min-width: 100%;}

.mainSearch_bttn input { 
    font-size: 12px;
    padding: 15px 10px 13px 10px;
    text-align: center; 
    background-image: none;
}

.mainSearch_bttn {
    width: 32%;
}
 
.mainSearch_input {
    width: 68%;
}
.mainSearch_input input { 
    font-size: 14px;
    padding: 15px 10px 13px 15px;
}

.features_this_week h3 { 
    font-size: 22px;
}
.features_this_week_list .owl-nav .owl-prev { 
    width: 40px !important;
    height: 40px !important; 
    font-size: 27px !important; 
    left: -12px !important; 
    margin-top: -23px !important;
}
.features_this_week_list .owl-nav .owl-next { 
    width: 40px !important;
     height: 40px !important; 
    font-size: 27px !important; 
    right: -12px !important; 
    margin-top: -23px !important;
}

.features_this_week_list .owl-dots { display: none;}

.main_container_innerDetail { 
    padding: 60px 0px 60px;
}
.available_feature_sorted { 
    display: block;}

.sorted_dropdown { 
    margin-left: 0px;
    padding-bottom: 10px;
}

.sorted_nav { 
    display: block;}

.available_feature_sorted h3 { padding-bottom: 15px;}
.icon_list_grid { 
    margin-left: 0px;
}
.icon_list_grid a { margin: auto;}
.available_feature_list ul {
    display: block; 
    margin: 0px;
}
.available_feature_list ul li {
    width: 100%;
    padding: 0px 0px 25px;
}
.available_feature_list ul li .featureWeek_info {
    padding: 25px 20px 20px 20px;
}

.available_feature_list ul li .featureProfile_avatar {
    width: 90px;
}
.available_feature_list ul li .featureProfile_avatar span {
    width: 90px;
}
.profile_rating_info ul  { display: flex;}

.showList .featureWeek_info { 
    align-items: flex-start;
    padding: 20px 15px 20px 10px !important;
}
.showList .feartureProflie_info {
    justify-content: flex-start;
}
.showList .featureProfile_avatar {
    width: 55px !important;
}
.showList .featureProfile_avatar span {
    width: 55px !important;
}

.showList .featureProfile_avatar_text strong {
    padding-bottom: 5px;
    font-size: 18px;
}

.showList .featureProfile_avatar_text small { 
    font-size: 14px !important;    padding-bottom: 5px !important;
}
.showList .profile_rating_info ul {
    display: flex;
}

.showList .profile_rating_info ul li a {
    font-size: 14px !important;
}
.showList  .profile_rating_info strong {
    font-size: 14px;
}
.showList .profile_rating_info b { 
    font-size: 12px;}
.showList .profileDiscription { 
    padding-top: 10px;
    padding-bottom: 15px;
}
.showList .profileDiscription p {
    font-size: 14px;}

.showList .favrt_icon span i {
    font-size: 16px;}
.showList .priceinfo_starting strong {
    font-size: 14px;}
.showList .priceinfo_starting strong b { 
    font-size: 14px;
}
.available_feature_section { 
    padding-bottom: 20px;
}
.how_work_section_detail { 
    display: block; 
}
.how_work_info {
    width: 100%;
    padding-right: 0px; padding-bottom: 20px;
}

.how_work_steps { 
    padding-right: 0px;
}
.step_count span {
    border-radius: 10px;
    width: 55px;
    height: 55px; 
    font-size: 20px;
}
.step_count_info { 
    padding-left: 15px;}
.step_count_info strong {  padding-right: 20px;
    font-size: 14px;}

    .toggleAerow { 
    right: 20px;
    top: 33px;}
    .how_work_steps ul li {
    padding-bottom: 15px;
}
.how_work_tittle { 
    padding-bottom: 30px;
}

.d_agency_video {
    width: 100%;
    padding-left: 0px;
}

.how_work_section { 
    padding-bottom: 50px;
}

.custom_tittle_section h2 {
    padding-bottom: 15px;
}
.whyChoose_section .custom_tittle_section {
    padding-bottom: 30px;
}
.whyChoose_columns ul {
    display: block;
    margin: 0px;
}
.whyChoose_columns ul li {
    width: 100%;
    padding: 0px 0px 30px;
    height: 100%;
}
.whyChoose_columns_info { 
    padding: 25px;
    border-radius: 15px; 
}

.whyChoose_columns ul li:last-child { padding-bottom: 0px;}

.testimonial_section_detail { 
    padding: 60px 0px;
}

.testimonialSlider_info { 
    padding-left: 0px;
    padding-top: 30px;
    display: block; 
}
.testimonial_avatar {
    width: 120px;
    margin: auto; padding-bottom: 20px;
}

.testimonial_avatar span {
    width: 120px;  
}
.testimonial_avatar i { 
    left: 7px;
    top: -10px;
    font-size: 30px; 
}
.testimonial_section_detail .custom_tittle_section {
    padding-bottom: 25px;
}
.testimonialSlide_descrption {
    width: 100%;
    padding-left: 0px; 
    padding-bottom: 0px; text-align: center;
} 
.testimonialSlide_descrption_inner { 
    padding-bottom: 15px; display: block;
}
.testimonialSlide_descrption_inner .profile_rating_info { 
    padding-top: 10px; justify-content: center;
}
.testimonial_section_detail .featureProfile_avatar_text strong { 
    padding-bottom: 3px;
}
.testimonial_avatar span img { border-radius: 50%;}
.testimonial_info .owl-nav { text-align: center;}
 
.testimonial_info .owl-nav .owl-prev { 
   position: static !important; margin: 20px 5px 0px !important;
}
 
.testimonial_info .owl-nav .owl-next { 
    position: static !important; margin: 20px 5px 0px !important;
}
.testimonial_info .owl-dots { display: none;}

.latestNews_section_detail {
    width: 100%;
    padding: 60px 0px 60px;
}

.latestNews_section_detail .custom_tittle_section {
    padding-bottom: 25px; 
}
.latestNews_slide_info {
    width: 100%;
    display: block;
}

.latestNews_columns {
    width: 100%; 
    border-radius: 10px; 
    margin-bottom: 10px;
}
.technology_column {
    width: 100%;
    margin-left: 0px;
}
.latestNews_columns_info { 
    padding: 20px;}

.latestNews_columns_info_text h4 { 
    font-size: 16px;}


    .latestNews_info .owl-dots { 
    text-align: center; position: static;
}
.latestNews_info .owl-dots button { 
    opacity: .8;
    width: 25px;
    height: 5px; 
    margin: 0px 3px 0px;
}
.latestNews_info .owl-dots button.active { 
    width: 50px;}



.technology_column span img { min-height: 400px;}

.latestNews_columns_info_text p { 
    font-size: 15px;
}

.trustedSection ul li {
    padding: 0px 10px; 
}

.trustedSection {
    width: 100%;
    padding: 40px 0px;
}
.update_newsLetter_detail {
    width: 100%;display: block;
    padding: 60px 0px;}


.update_newsLetter_field .mainSearch { margin: 0px; width: 100%;    min-width: 100%;}

.update_newsLetter_heading { padding-bottom: 25px;}

.update_newsLetter_field .mainSearch_input input { 
    font-size: 12px;
    padding: 15px 10px 13px 15px;
}
.update_newsLetter_field .mainSearch_bttn input { 
    font-size: 12px;}

.footer_up_detail { 
    padding: 60px 0px 50px;
    display: block;
}

.footer_up_column {
    width: 100% !important;
}

.footer_info { 
    padding-right: 0px;
}
.footer_info p { 
    padding-bottom: 15px;}

.footerLinks ul li {
    padding-bottom: 10px;
}
.get_in_touch ul li {
    padding-bottom: 10px;
}


.footerLinks h5 { 
    padding-bottom: 15px;
}







.aboutUs_banner  .banner_img img { min-height: 250px; object-fit: cover;}

.aboutUs_banner .banner_info { position: absolute;}

.aboutUs_banner .banner_info_detail h1 { padding: 0px;}

.containerDetail_info {  padding: 60px 0px; }

.aboutUs_detail {  display: block; }
.aboutUs_info {
    width: 100%;
    padding-right: 0px;
}
.aboutUs_info .custom_tittle_section h3 {
    padding-bottom: 15px;
}

.aboutUs_info .custom_tittle_section b { 
    margin-bottom: 20px;
}
.stepText {
    width: auto;
}
.stepText_detail {
    padding-left: 15px;
    width: 100%;
}
.aboutAvatar {
    width: 100%;
}
.about_whyChoose_columns .whyChoose_columns {
    padding: 60px 0px;
}
.about_whyChoose_columns .whyChoose_columns ul li {
    padding: 0px 0px 50px;
}

.contactUs_detail {
    width: 100%;
    padding: 40px 20px 30px;}

.custom_field_input input {     font-size: 12px;
    border-radius: 6px}

.custom_field_textarea textarea { 
    border-radius: 6px; 
    padding: 15px 20px;}

.faq_info h5 { 
    font-size: 15px;
    line-height: 1.5; padding-right: 25px;
}
.faq_btn { 
    right: 15px;
    top: 18px;
    width: 18px;}
.faq_detail_list ul li {
    padding-bottom: 15px;
}
.faq_detail_list ul li:last-child {
    padding-bottom: 0px;
}

.custom_popup_inner { 
    height: auto; 
    padding: 50px 25px;
}

.custom_popup_info { 
    padding: 40px 20px 40px;
}
.custom_popup_tittle { 
    padding-bottom: 25px;}


.custom_field strong{font-family: 'poppinsmedium';}

.custom_field strong { 
    padding-bottom: 6px;
}
.checkbox-label { 
    padding-left: 25px;
    font-size: 12px; 
}

.checkbox-label .checkbox-custom { 
    height: 18px;
    width: 18px;}
.forgotPassw a { 
    font-size: 11px;}

.custom_submit input { 
    padding: 15px 20px;width: auto;
    margin: auto;
    font-size: 12px;}

.do_you_agree strong { 
    font-size: 12px;
}
.do_you_agree strong a { 
    display: block;
}
.chooseOptionDetail {
    width: auto;
    padding-right: 20px;
}
.chooseOptionDetail label { 
    font-size: 14px;}

.option-input { 
    height: 22px;margin-right: 3px;
    width: 22px;}
.option-input:checked::before {
    height: 16px;
    width: 16px; 
    margin-left: -8px; 
    margin-top: -8px;
}






.db_tittle { 
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.our_todo_section { 
    padding-bottom: 20px;
}
.our_todo_info { padding: 15px 20px; display: block;}

.profile_incomplete { display: block; padding-bottom: 10px;}

.profile_incomplete span { 
    margin: auto;
    margin-bottom: 10px;
}
.our_todo_info p {
    padding-left: 0px; 
    text-align: center;
}

.default_bttn { 
    text-align: center;}

.dashboard_info { 
    display: block;
}
.db_profile {
    width: 100%;
    padding-bottom: 20px;
}
.btnClose {
    position: absolute;
    right: 10px; 
    top: 13px;
}
.db_profile .featureProfile_avatar_text strong { 
    padding-bottom: 3px;
}

.db_profile .featureProfile_avatar_text {
    padding-left: 0px;
    padding-bottom: 0px;
}
.db_profile .profile_rating_info {
    padding-bottom: 15px;
}
.achieved_task_info ul li {
    padding-bottom: 12px;
}
.dashboard_infoDetail {
    width: 100%;
    padding-left: 0px;
}
.dashboard_tabs ul li a { 
    padding: 20px 15px 10px; font-size: 16px;}
.dashboard_tabs ul li a strong { 
    font-size: 20px; 
    padding-top: 10px;
}
.dashboard_tabs_outer { 
    overflow-y: hidden;
    overflow-x: auto;
}
.dashboard_tabs_data { 
    width: 1000px;
}

.data_profile_info span {
    margin-right: 15px;
    max-width: 60px;
}


.logo_web { display: none!important;}
.logo_mbile { display: block!important;}

.logo a  {width: 60px;}

.profile_info span b {
    width: 50px;}


.bookingDetail_section { display: block;}


  .banner_img img { height: 200px; object-fit: cover;object-position: 90%;}

.tanelt_sort form {
    display: block; 
}
.sorted_nav .mainSearch_input {
    width: 100%;
    padding-bottom: 10px;
}
.sorted_nav .mainSearch_bttn {
    padding-left: 0px; 
    padding-bottom: 10px;
}

.update_newsLetter_heading h2 { 
    line-height: 1.5;
    text-align: center;
    margin: auto;
}
 
.copyRight_info p { font-size: 12px;}

.searchTalented .banner_img img {  object-position: unset;}

.searchTalented .banner_info { position: absolute;}

.searchTalented .banner_info_detail h1 {
    padding: 0px 0px 0px;
}

.aboutUs_banner  .banner_img img {  object-position: unset;}

.about_whyChoose_columns .whyChoose_columns ul li:last-child { padding: 0px;}

.faq_info { 
    border-radius: 10px;
    padding: 15px 20px 15px 20px; 
}

.remember_forgot { 
    padding-bottom: 25px;
}

.do_you_agree p {
    font-size: 12px; 
    padding-bottom: 20px;
}
.list_info {
    padding-bottom: 25px;
    padding-left: 0px;}

.banner_info_detail h1 { 
    font-size: 24px;
}
.db_profile .featureWeek_info { 
    padding: 25px 20px 25px 20px;
}

.achieved_task_info_list span {
    font-size: 13px;}
.achieved_task_info_list strong {
    font-size: 13px; 
    padding-right: 0px;
    display: block;
}
.update_profile_tabs ul { 
    flex-wrap: wrap;
}

.update_profile_tabs ul li { width: 100%;}
.update_profile_tabs ul li a { border-right: 0px;border-bottom: 1px solid #e0e0e0; padding: 15px 10px; font-size: 13px;}

.update_profile_tabs ul li:last-child a { border-bottom: 0px;}

.update_profile_data { 
    padding: 40px 20px 20px; 
}

.editPopup .popup_form ul li { width: 100% !important;}

.editPopup .popup_form ul {
    margin: 0px;
    display: block;
    flex-wrap: wrap;
}
.editPopup .popup_form ul li {
    padding: 0px 0px 20px; 
}

.dasbord_container { 
    padding-bottom: 0px;}

.bookingDetail_section_fl {
    width: 100%;
    padding-right: 0px;    padding-bottom: 30px;
}
.bookingDetail_fl_info { 
    padding: 40px 20px 0px;
}

.booking_description strong { 
    padding-bottom: 20px;
    font-size: 16px;
}
.booking_description h4 { 
    font-size: 16px;
}
.booking_description { 
    padding-bottom: 40px;
}

.slots_info h4{ 
    font-size: 16px;
}
.notiication_info { display: none;}
.slots_info ul li { 
    padding-left: 0px; padding-bottom: 20px; display: block;
}
.slots_info ul li:last-child { 
 padding-bottom: 20px;
}
.slots_info strong { 
    width: 100%;
    font-size: 16px; 
    padding-bottom: 5px;
}
.slots_info small { 
    width: 100%;
    font-size: 16px;}

.mainFeatures { 
    padding-left: 0px;
}
.descrp {
    padding-left: 0px;
}
.descrp p {
    padding-left: 0px;
}
.bookingDetail_section_fr {
    width: 100%;
}

.db_messageChat .featureProfile_avatar_text { width: 100%; padding-bottom: 10px;}

.event_pages { 
    padding-bottom: 0px;
}

.on_book_list .mainSearch_input { display: none;} 
.availability_detail { 
    min-height: 200px;
}

.availability_options ul {
    display: block;
}
.availability_options ul li {
    padding-right: 0px;
    padding-bottom: 20px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice { width: auto !important;}


.orderSteps_section { display: block;}


.orderSteps_section .db_profile {
    width: 100%;
}

.order_bookSection {
    width: 100%;
    padding-left: 0px;
}
.order_booktabs ul {
    display: block;}

.order_booktabs ul li {
    width: 100%;
}
.order_booktabs ul li a { 
    font-size: 16px; 
    border-right: 0px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.order_booktabs ul li:last-child a { border-bottom: 0px;}

.order_tabs_infoHead { 
    padding: 30px 20px 30px;
    border-bottom: 1px solid #e0e0e0;
}
.order_tabs_infoHead .db_tittle_heading h4 { font-size: 18px;}

.clubHouse_info p { 
    font-size: 16px;}

.session_bttns { 
    padding: 20px 20px 20px;
}
.session_bttns ul li { padding-bottom: 0px;}


.services_tabs { padding: 10px 20px;}

.services_tabs ul { 
    flex-wrap: wrap;
}
.services_tabs ul li {
    padding: 0px ; width: 100%;
}
 
.services_tabs ul li a { 
    padding: 15px 0px;
    text-align: center; 
    font-size: 16px; }

.services_tabs_data_outer { 
    padding: 30px 0px 0px;
}
.reviews_info_head { display: block;
    max-width: 100%;}

.reviews_profile_link { display: none;}

.reviews_profile_info_rating a { 
    font-size: 16px;}

.reviews_profile_country strong { 
    font-size: 16px;}
.reviews_profile_info { 
    padding-top: 5px;
}
.reviews_profile_info {
    width: auto; 
    padding-top: 0px; font-size: 15px;
}
.reviews_info_list ul li .viewMore_link { text-align: center; padding: 30px 0px 20px;}
.bookingStepss .update_profile_data { 
    padding: 20px 20px 40px;
}

.update_profile_data .custom_popup_info {
    padding: 0px 0px 0px;
}
.select_date_info { 
    border-radius: 15px; 
    padding: 15px 15px 15px;
}
.select_date_info .ui-datepicker .ui-datepicker-header { 
    font-size: 16px !important; 
    max-width: 100%;}

.select_date_info .ui-datepicker-calendar th span { 
    font-size: 14px !important;}


    .banner_info .auto_container { padding: 0px;}



.close_search { 
    width: 24px;
    height: 24px; 
    right: 25px;
    top: 25px; 
}

.banner_info_detail .default_bttn { margin: auto;}


.order_booktabs ul li a { 
    font-size: 16px;}

.bs-wizard { margin-top: 10px;}

.selectTime_info ul li {
     width: auto; 
    padding: 0px 5px 15px;
    min-width: 230px;
    margin: auto;
    max-width: 230px;}

.addPayment_form ul li { width: 100% !important;}






.db_containerDetail {
    width: 100%;
    margin-left: 0px;
}

.db_nav { z-index: 2;
    width: 240px; left: -240px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;}

.db_nav_menu { 
    padding-top: 0px; 
}
.db_nav_menu ul li a {
    padding: 7px 15px 7px 15px;}

.db_nav_inner { 
    padding: 60px 0px 65px; 
}

.showNav .db_nav {left: 0px;}
.showNav .menuIcon {display: none;}
.showNav .dashboardHeader_data .closeNav {display: block;}
    


.db_containerDetail_inner {
    width: 100%;
    padding: 85px 20px 80px 20px;
}

.fixedFooter .auto_container { 
    padding: 0px 20px;
}

.db_welcomeSection .custom_tittle_section { padding-bottom: 10px;}
.db_welcomeSection .custom_tittle_section h3 { font-size: 18px;;}

.db_logo {
    min-width: auto; padding-right: 15px; width: auto;
}
.db_tittle2 h3 { 
    font-size: 14px;
}
.dropdownMenu ul li a {
    padding-right: 22px; 
    font-size: 14px; 
    background-size: 10px;
}
.sett_profile_db span img { 
    width: 34px;
    height: 34px;}

.sett_profile_db span { 
    width: 34px;
    height: 34px; 
    margin-right: 5px;}

.db_logo a { 
    max-width: 50px;
}
.dropdownMenu ul li ul li a {
    padding: 4px 10px;}

.d_board_detail { 
    padding: 40px 20px 40px; 
} 

.contactUs_detail  .update_profile_data { padding: 0px;}

.search_inner { 
    padding-top: 120px;}


.d_agency_video iframe { 
    height: 240px;
}
.blackOut .popupAlignCenter .popUpWrapper {
    width: 85%;
    max-width: 300px;
    max-height: 240px; 
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum { 
    font-size: 14px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info { 
    font-size: 12px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after { 
    width: 12px;
    height: 12px; 
    top: 7px;
    left: 7px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot { 
    width: 26px;
    height: 26px; 
    top: 43px;}

.steps_bttons a { 
    max-width: 160px;
    padding: 12px 20px;
}

.steps_bttons input { 
    min-width: 160px;font-size: 14px; padding: 12px 20px;
}


.our_todo_info a { max-width: 200px; margin: auto;}

.aboutTxt .banner_info_detail  h1 { font-size: 24px ; text-align: center;}

.aboutTxt .banner_info { padding-bottom: 25px;}


.db_tittle2 { display: none;}

.dashboardHeader_data .menuIcon { 
    top: 20px;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000;}

.dashboardHeader_data .menuIcon:after { 
        background: #000;}

.dashboardHeader_data .closeNav { 
    background: url(../images/closeNav_db.png) no-repeat;
    width: 22px;
    height: 22px;  background-size: 100%; display: none;
    right: 24px;
    top: 19px;}












    
}

@media only screen and (min-width:480px) and (max-width:767px) {}